/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #bfdbb1ca; /* Light gray background */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical; /* Allow resizing only vertically */
}

button[type="submit"] {
  background-color: #4CAF50; /* Green */
  color: #4CAF50;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


footer {
  background-color: #f2f2f2; /* Light gray background */
  padding: 20px; /* Add some padding for content */
  text-align: center; /* Center the text within the footer */
}

footer p {
  margin: 5px 0; /* Add some space between paragraphs */
}

footer a {
  color: #333; /* Darker text color for the email link */
  text-decoration: none; /* Remove underline from the link */
}

footer a:hover {
  text-decoration: underline; /* Add underline on hover */
  color: #3e07c9; /* Black text color on hover */
}